body {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
  background: #ffffff 0% 0% no-repeat padding-box;
  overflow-x: hidden !important;
}

/* Start Variables */

:root {
  /* Colors: */
  --unnamed-color-3d3c3d: #3d3c3d;
  /* Font/text values */
  --unnamed-font-family: Cairo;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-600: 600px;
  --unnamed-font-size-16: 16px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-32: 32px;
  --section-padding: 56px;
}

/* End Variables */

/* Small */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Start Global Rules */

/* Character Styles */

.unnamed-character-style-1 {
  font-family: var(--unnamed-font-family-cairo);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-32);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-3d3c3d);
}

/* End Global Rules */

/* Start Components */

/* Start Header */

.navbar-brand {
  top: 21px;
  left: 1147px;
  width: 80px;
  height: 72px;
  background: transparent url("../assets/logo_irched_ta2eh.svg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}

.navbar .navbar-nav .nav-link {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-16) / 30px var(--unnamed-font-family-cairo);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-3d3c3d);
  text-align: right;
  font: normal normal 600 16px/30px Cairo;
  letter-spacing: 0px;
  color: #3d3c3d;
  opacity: 1;
}

.icon {
  top: 42px;
  left: 563px;
  width: 24px;
  height: 29px;
  background: transparent url("../assets/icon_black_white.svg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}

.nav_button {
  background: #d2a260 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 20px #00000029;
  border-radius: 15px;
  opacity: 1;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-16) / 30px var(--unnamed-font-family-cairo) !important;
  letter-spacing: var(--unnamed-character-spacing-0) !important;
  text-align: center;
  font: normal normal 600 16px/30px Cairo !important;
  letter-spacing: 0px;
  color: #ffffff;
  width: 133px;
  height: 60px;
  top: 27px;
  left: 405px;
}

.nav_button:hover {
  border: none;
  background: #d2a260 0% 0% no-repeat padding-box;
  color: #ffffff;
}

.nav_button_green {
  width: 117px;
  height: 60px;
  background: #2d652f 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 20px #00000029;
  border-radius: 15px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-16) / 30px var(--unnamed-font-family-cairo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal 600 16px/30px Cairo;
  letter-spacing: 0px;
  color: #ffffff;
}

.nav_button_green a,
.nav_button a {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-16) / 30px var(--unnamed-font-family-cairo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal 600 16px/30px Cairo;
  letter-spacing: 0px;
  color: #ffffff;
  width: 117px;
  height: 60px;
}

.nav_button_green:hover {
  background: #2d652f 0% 0% no-repeat padding-box;
  border: none;
  color: #ffffff;
}

.dropdown-button {
  position: relative;
}

.dropdown-button .dropdown-menu[data-bs-popper] {
  top: 93%;
  right: 10%;
  height: auto;
  position: absolute;
}

.dropdown-button .dropdown-menu[data-bs-popper] li {
  padding: 5px;
}

.dropdown-button .dropdown-menu[data-bs-popper] li a {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-16) / 30px var(--unnamed-font-family-cairo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: right;
  font: normal normal 600 16px/30px Cairo;
}

.dropdown-button .dropdown-menu[data-bs-popper] li a:active,
.dropdown-button .dropdown-menu[data-bs-popper] li a:hover,
.dropdown-button .dropdown-menu[data-bs-popper] li a:focus {
  background: rgba(210, 162, 96, 0.2);
  color: #434341;
  border-radius: 15px;
}

.dropdown-button .btn.nav_button.show {
  background: rgba(210, 162, 96, 0.35);
  color: #d2a260;
}

/* End Header */

.carousel-indicators {
  bottom: 3.6rem !important;
}

.carousel-caption p {
  font: var(--unnamed-font-style-normal) normal bold 32px/48px
    var(--unnamed-font-family-cairo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: right;
  font: normal normal bold 32px/48px Cairo;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  position: absolute;
  top: -4%;
  line-height: 1.4;
}

.carousel-caption {
  bottom: 21%;
  left: 0;
  width: 554px;
  height: 73px;
  background: #d2a260 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
}

.carousel-indicators [data-bs-target] {
  width: 100px;
}

.carousel-indicators .active {
  background-color: #d2a260 !important;
}

.green_banner {
  background-color: #2d652f;
  background-image: url(../assets/Tracé\ 3122.png);
  opacity: 1;
  /* padding-top: var(--section-padding);
  padding-bottom: var(--section-padding); */
}

.green_banner p {
  width: 305px;
  height: 85px;
  font: var(--unnamed-font-style-normal) normal bold 24px/40px
    var(--unnamed-font-family-cairo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: right;
  font: normal normal bold 24px/40px Cairo;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-top: revert !important;
}

.about,
.about2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}

.about .special-heading {
  font: var(--unnamed-font-style-normal) normal bold 32px/60px
    var(--unnamed-font-family-cairo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: right;
  font: normal normal bold 32px/60px Cairo;
  letter-spacing: 0px;
  color: #d2a260;
  opacity: 1;
  padding-right: 1.4rem;
}

.about p {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-16) / 28px var(--unnamed-font-family-cairo);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-3d3c3d);
  text-align: right;
  font: normal normal 600 16px/28px Cairo;
  letter-spacing: 0px;
  color: #3d3c3d;
  opacity: 1;
}

.about_image::before {
  width: 320px;
  height: 320px;
  background: #d2a260;
  opacity: 0.3;
  content: "";
  position: absolute;
  top: 32%;
  left: -7%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: -1;
}

.about2_image::after {
  width: 320px;
  height: 320px;
  background: #fff;
  border: 12px solid #d2a260;
  opacity: 0.3;
  content: "";
  position: absolute;
  top: 1%;
  right: -3%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: -1;
}

.about img {
  top: 840px;
  left: 140px;
  width: 498px;
  height: 321px;
  border-radius: 20px;
  opacity: 1;
}

.parag_icon {
  top: 976px;
  left: 1173px;
  width: 12px;
  height: 14px;
  transform: matrix(0, -1, 1, 0, 0, 0);
  /* UI Properties */
  background: transparent url("../assets/Polygone\ 1.svg") 0% 0% no-repeat
    padding-box;
  border: 2px solid #2d652f;
  opacity: 1;
}

.about ul li {
  list-style: url("../assets/Polygone\ 1.svg");
  padding-left: 25%;
}

hr {
  width: 416px;
  margin-top: 160px;
  color: #d2a260;
  border-top: 2px solid;
}

.about2 .special-heading {
  top: 1327px;
  left: 315px;
  width: 270px;
  height: 110px;
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal 900 32px/50px
    var(--unnamed-font-family-cairo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: right;
  font: normal normal 900 32px/50px Cairo;
  letter-spacing: 0px;
  color: #d2a260;
  opacity: 1;
}

.list-services ul li {
  list-style: none;
  background: #4343411a 0% 0% no-repeat padding-box;
  border-radius: 10px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-16) / 60px var(--unnamed-font-family-cairo);
  letter-spacing: var(--unnamed-character-spacing-0);
  letter-spacing: 0px;
  color: #2d652f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.element:nth-child(1) {
  width: 99px;
  height: 40px;
}

.element:nth-child(2) {
  width: 79px;
  height: 40px;
}

.element:nth-child(3) {
  width: 138px;
  height: 40px;
  text-align: center;
}

.element:nth-child(4) {
  width: 137px;
  height: 40px;
}

.element:nth-child(5) {
  width: 102px;
  height: 40px;
}

.list-services {
  width: 381px;
}

.green_banner2 {
  background-color: #2d652f;
  background-image: url(../assets/Tracé\ 3122.png);
  border: 1px solid #707070;
  border-radius: 20px;
  opacity: 1;
  height: 197px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.block_fun {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.block_fun h2 {
  font: var(--unnamed-font-style-normal) normal 900 32px/50px
    var(--unnamed-font-family-cairo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal 900 32px/50px Cairo;
  letter-spacing: 0px;
  color: #2d652f;
  opacity: 1;
}

.fun-facts {
  background-color: #2d652f;
  background-image: url(../assets/Tracé\ 3122.png);
  border: 1px solid #707070;
  border-radius: 20px;
  opacity: 1;
  margin-top: var(--section-padding);
  margin-bottom: var(--section-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 90%;
  height: 197px;
}

.block_fun_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
}

.fun-item {
  background-image: url(../assets/Tracé-3120.svg);
  background-size: 66%;
  background-position: center center;
  background-repeat: no-repeat;
  height: 179px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.number {
  font: var(--unnamed-font-style-normal) normal bold 52px/50px
    var(--unnamed-font-family-cairo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal bold 52px/50px Cairo;
  letter-spacing: 0px;
  color: #d2a260;
  opacity: 1;
  margin: 0;
}

.fun-text {
  width: 176px;
  height: 32px;
  font: var(--unnamed-font-style-normal) normal 900 18px/28px
    var(--unnamed-font-family-cairo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal 900 18px/28px Cairo;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin: 0;
}

.member-section {
  height: 272px;
  background: linear-gradient(89deg, #d2a260 0%, #d18f34 100%);
  border-radius: 30px;
  margin-left: 97px;
  margin-right: 97px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.block_member {
  position: relative;
}

.block_member img {
  position: absolute;
  top: -16px;
  right: -3%;
}

.block_member::after {
  width: 464px;
  height: 464px;
  opacity: 0.12;
  background: #cba658;
  content: "";
  position: absolute;
  top: -4%;
  right: -20%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: -1;
}

.member-title {
  margin-right: 199px;
  font: var(--unnamed-font-style-normal) normal bold 32px/60px
    var(--unnamed-font-family-cairo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal bold 32px/60px Cairo;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.member-text {
  margin-right: 199px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-16) / var(--unnamed-line-spacing-32)
    var(--unnamed-font-family-cairo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: right;
  font: normal normal 600 16px/32px Cairo;
  letter-spacing: 0px;
  color: #ffffff;
}

.member-btn {
  width: 143px;
  height: 60px;
  margin-right: 199px;
  background: #2d652f 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 20px #00000029;
  border-radius: 15px;
  opacity: 1;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    15px/29px var(--unnamed-font-family-cairo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal 600 15px/29px Cairo;
  letter-spacing: 0px;
  color: #ffffff;
  border: none;
}

.social-item {
  width: 40px;
  height: 40px;
  background: transparent url("../assets/Ellipse\ 73.svg") 0% 0% no-repeat
    padding-box;
  margin-left: 16px;
  justify-content: center;
}

.social-item img {
  width: 11px;
  height: 20px;
}

.contact-title {
  width: 114px;
  height: 60px;
  font: var(--unnamed-font-style-normal) normal bold 32px/60px
    var(--unnamed-font-family-cairo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal bold 32px/60px Cairo;
  letter-spacing: 0px;
  color: #2d652f;
}

.bloc1 {
  width: 269px;
  height: 54px;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: right;
  letter-spacing: 0px;
  color: #666666;
}

.bloc2 {
  width: 269px;
  height: 79px;
  /* UI Properties */
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: right;
  letter-spacing: 0px;
  color: #666666;
  opacity: 1;
}

.bloc3 {
  width: 436px;
  height: 102px;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: right;
  letter-spacing: 0px;
  color: #666666;
  opacity: 1;
}

.numbers {
  margin-top: 19.5px;
}

.form-active {
  width: 491px;
  height: 60px;
  border: 2px solid #d2a260 !important;
  border-radius: 15px;
}

.form-item {
  width: 491px !important;
  height: 60px;
  border: 1px solid #cccccc;
  border-radius: 15px;
}

.form-btn {
  height: 60px;
  width: 145px;
  background: #2d652f 0% 0% no-repeat padding-box;
  border-radius: 15px;
}

.submit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 10%;
}

.contact-btn {
  width: 143px;
  height: 60px;
  background: #2d652f 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 20px #00000029;
  border-radius: 15px;
  opacity: 1;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    15px/29px var(--unnamed-font-family-cairo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal 600 15px/29px Cairo;
  letter-spacing: 0px;
  color: #ffffff;
  border: none;
}

.partners {
  margin-bottom: 66px;
}

.contact {
  margin-bottom: 63px;
}

.img1-footer {
  width: 110px;
  height: 74px;
}

.img2-footer {
  width: 127px;
  height: 127px;
}

.img3-footer {
  width: 187px;
  height: 66px;
}

.copy-right {
  width: 1090px;
  height: 69px;
  background: #d2a260 0% 0% no-repeat padding-box;
  border-radius: 35px;
  margin-left: 139px !important;
  margin-right: 139px !important;
  margin-bottom: 20px;
}

.copy-right p {
  height: 29px;
  font: var(--unnamed-font-style-normal) normal normal
    var(--unnamed-font-size-16) / 48px var(--unnamed-font-family-cairo);
  letter-spacing: var(--unnamed-character-spacing-0);
  font: normal normal normal 16px/48px Cairo;
  letter-spacing: 0px;
  color: #4b4f50;
  margin-top: 36px;
}

.partenaires {
  font: var(--unnamed-font-style-normal) normal bold 32px/60px
    var(--unnamed-font-family-cairo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal bold 32px/60px Cairo;
  letter-spacing: 0px;
  color: #d2a260;
  opacity: 1;
  padding: 20px 0;
}

.block_partner {
  position: relative;
}

.partner::before {
  width: 464px;
  height: 464px;
  background: #fff;
  border: 30px solid #d2a260;
  opacity: 0.11;
  content: "";
  position: absolute;
  top: 26%;
  left: -18%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: -1;
}

.partenaires-img {
  top: 2462px;
  left: 890px;
  width: 337px;
  height: 138px;
}

.third-img {
  top: 2470px;
  left: 246px;
  width: 123px;
  height: 123px;
  /* UI Properties */
  background: transparent
    url("img/1200px-Emblem_of_the_Ministry_of_Interior_28Saudi_Arabia29.svg_-7.png")
    0% 0% no-repeat padding-box;
  opacity: 1;
}

.third {
  width: 337px;
  height: 138px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d4d4d4;
  border-radius: 20px;
  opacity: 1;
  margin: 10px 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

form .form-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form .form-row .input-data {
  width: 80%;
  height: 40px;
  margin: 20px;
  position: relative;
}

form .form-row .input-data.textarea {
  width: 80%;
  height: 130px;
  margin: 20px;
  position: relative;
}

form .form-row .input-data.textarea label {
  top: 10px;
  height: 20px;
}

.input-data input {
  cursor: pointer;
  display: block;
  font-size: 16px;
  width: 100%;
  height: 50px;
  border: 1px solid #cccccc;
  border-radius: 15px;
  opacity: 1;
  outline: none;
  padding: 0px 20px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.input-data textarea {
  display: block;
  font-size: 16px;
  width: 100%;
  height: 130px;
  border: 1px solid #cccccc;
  border-radius: 15px;
  opacity: 1;
  outline: none;
  padding: 0px 20px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.input-data input:focus ~ label,
.input-data textarea:focus ~ label,
.input-data input:valid ~ label,
.input-data textarea:valid ~ label {
  transform: translateY(-25px);
  font: normal normal normal 13px/32px Cairo;
  letter-spacing: 0px;
  color: #2d652f;
  opacity: 1;
  -webkit-transform: translateY(-25px);
  -moz-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  -o-transform: translateY(-25px);
  background-color: #fff;
  margin: 0 20px;
}

.input-data textarea {
  resize: none;
}

.input-data input:focus,
.input-data textarea:focus,
.input-data textarea:valid,
.input-data input:valid {
  border: 2px solid #d2a260;
}

.input-data label {
  position: absolute;
  bottom: 0;
  font-size: 16px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  padding: 0 20px;
  font: normal normal normal 16px/32px Cairo;
  letter-spacing: 0px;
  color: #cccccc;
  opacity: 1;
}

.input-data textarea {
  position: absolute;
  bottom: 0;
  font-size: 16px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  padding: 0 20px;
  font: normal normal normal 16px/32px Cairo;
  letter-spacing: 0px;
  color: #cccccc;
  opacity: 1;
  cursor: pointer;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.input-data textarea:focus ~ .underline:before,
.input-data textarea:valid ~ .underline:before {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

@media (max-width: 767px) {
  .icon {
    display: none;
  }
  .nav_button,
  .nav_button_green {
    width: auto;
    height: 40px;
  }
  .carousel-indicators {
    bottom: 0.6rem !important;
  }
  .carousel-indicators [data-bs-target] {
    width: 50px;
  }
  .about hr {
    display: none;
  }
  .member-section {
    margin-left: 40px;
    margin-right: 40px;
    width: auto;
    height: auto;
  }
  .member-title,
  .member-text {
    margin: 0;
    width: auto;
    height: auto;
  }
  .member-btn {
    margin: 0;
    margin-top: 20px;
  }
  .bloc3 {
    width: auto;
  }
  .copy-right {
    width: auto;
    margin: 0 !important;
    height: 82px;
  }
  .form-item {
    width: auto !important;
  }
  .form-active {
    width: auto;
  }
}

/* End Components */

/*Start Societe*/

.societe {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
  width: 100%;
  padding: 30px 0;
  flex-wrap: wrap;
}

.societe img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/*End Societe*/

/*Start Copyroght*/

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.copyright span {
  font: var(--unnamed-font-style-normal) normal normal
    var(--unnamed-font-size-16) / 48px var(--unnamed-font-family-cairo);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal normal 16px/48px Cairo;
  letter-spacing: 0px;
  color: #4b4f50;
  width: 70%;
  padding: 5px 0;
  background: rgba(210, 162, 96, 0.1);
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}

/*End Copyroght*/

/*Media Query*/

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 991px) {
  form .form-row .input-data,
  form hr {
    width: 80%;
  }
  .validation {
    justify-content: space-around;
  }
  .carousel-indicators {
    bottom: 1.6rem !important;
  }
  .about_image::before,
  .about2_image::after,
  hr,
  .partner::before,
  .block_member::after {
    display: none;
  }
  .about_description {
    height: 200px;
  }
  .about img {
    height: auto;
  }
  .about2_description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .member-section {
    margin-left: 0;
    margin-right: 84px;
  }
  .block_member img {
    right: -6%;
  }
  .third,
  .partenaires-img {
    width: 200px;
  }
  .bloc3 {
    width: 320px;
  }
}

@media screen and (max-width: 767px) {
  .copyright span {
    width: 85%;
  }
  .about,
  .about2 {
    flex-wrap: wrap;
  }
  .about_description {
    height: auto;
  }
  .block_member img {
    display: none;
  }
  .member-section {
    margin: 0;
    padding: 20px;
  }
  .third,
  .partenaires-img,
  form .form-row .input-data.textarea {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  form .form-row .input-data,
  form hr,
  .new-account,
  .copyright span,
  .block_fun_item {
    width: 100%;
  }
  .new-account span,
  .validation .forget-password,
  .new-account a,
  .copyright span {
    font-size: 13px !important;
  }
  .copyright span {
    padding: 0;
  }
  .societe img {
    width: 200px;
    display: block;
    margin: 10px 0;
  }
  .fun-facts {
    flex-wrap: wrap;
    height: auto;
  }
}
